@model HomeVM


<div class="container">
    <div class="row align-items-center justify-content-center">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
            <img class="img-fluid" src="" />
           <h4>@Model.Product.ProductName</h4>
           <p>@Model.Product.Description</p>
           <p>@Model.Product.Price AZN</p>
        </div>
    </div>

</div>